In [3]:
#IMPORTANDO O PANDAS
import pandas as pd

In [4]:
#LENDO UM ARQUIVO CSV

# arquivo_df = pd.read_csv('arquivo.csv')

# display(arquivo_df)

In [5]:
#PARA LER UMA QUANTIDADE DE LINHAS (DO INÍCIO)

#arquivo_df.head(10)

In [6]:
# PARA LER UMA QUANTIDADE DE LINHAS (A PARTIR NO FINAL)

# arquivo_df.tail(10)

In [7]:
# PARA VERIFICAR QUAIS SÃO OS TIPOS DE DADOS DAS COLUNAS.

# arquivo_df.dtypes

In [8]:
# PARA ARMAZENAR DADOS EM OUTRO FORMATO AO INVÉS DE LÊ-LO:
# arquivo_df.to_excel("arquivo_df1.xlsx", sheet_name = "sheet 1", index = False)

# arquivo_df1 = pd.read_excel('arquivo_df1.xlsx')
# display(arquivo_df1)

In [9]:
# PARA VISUALIZAR UM RESUMO TÉCNICO CO DATAFRAME:

# arquivo_df1.info()

In [10]:
# PARA CRIAR A PRÓPRIA DATAFRAME PODE-SE COMEÇAR CRIANDO UM DICIONÁRIO:

tabela = {'Aluno': ['Leonardo'] , 'Matrícula': [20240167463], 'Turma': ['ADS 2'],
          'Idade': [27], 'Profissão': ['Estágio em Programação'], 'Semestre': [2]
          }

tabela_df = pd.DataFrame(tabela)

display(tabela_df)

      Aluno    Matrícula  Turma  Idade               Profissão  Semestre
0  Leonardo  20240167463  ADS 2     27  Estágio em Programação         2

In [11]:
# PARA ADICIONAR NOVAS LINHAS DENTRO DA TABELA CRAIDA:

tabela_df.loc[len(tabela_df)] = ['Samanta', 12345, 'ADS 2', 27, 'INDETERMINADA', 2]

display(tabela_df)

      Aluno    Matrícula  Turma  Idade               Profissão  Semestre
0  Leonardo  20240167463  ADS 2     27  Estágio em Programação         2
1   Samanta        12345  ADS 2     27           INDETERMINADA         2

In [12]:
# PARA DELETAR DEFINITIVAMENTE UM DADO(LINHA):

#tabela_df.drop(2, inplace = True)

#display(tabela_df)

In [13]:
# PARA DELETAR COLUNAS:

#tabela_df.drop('Profissão', axis = 1, inplace= True)
                #NOME         !COLUNA!     DEFINIDAMENTE
display(tabela_df)

      Aluno    Matrícula  Turma  Idade               Profissão  Semestre
0  Leonardo  20240167463  ADS 2     27  Estágio em Programação         2
1   Samanta        12345  ADS 2     27           INDETERMINADA         2