In [11]:
#IMPORTANDO O PANDAS
import pandas as pd

In [12]:
#LENDO UM ARQUIVO CSV

clientes_df = pd.read_csv('clientes.csv')

display(clientes_df)

       id_cliente  mes  ...  emprestimo_credito emprestimo_estudantil
0            3392    1  ...                   1                     0
1            3392    2  ...                   1                     0
2            3392    3  ...                   1                     0
3            3392    4  ...                   1                     0
4            3392    5  ...                   1                     0
...           ...  ...  ...                 ...                   ...
99995       37932    4  ...                   0                     1
99996       37932    5  ...                   0                     1
99997       37932    6  ...                   0                     1
99998       37932    7  ...                   0                     1
99999       37932    8  ...                   0                     1

[100000 rows x 25 columns]

In [13]:
#PARA LER UMA QUANTIDADE DE LINHAS (DO INÍCIO)

clientes_df.head(10)

   id_cliente  mes  ...  emprestimo_credito emprestimo_estudantil
0        3392    1  ...                   1                     0
1        3392    2  ...                   1                     0
2        3392    3  ...                   1                     0
3        3392    4  ...                   1                     0
4        3392    5  ...                   1                     0
5        3392    6  ...                   1                     0
6        3392    7  ...                   1                     0
7        3392    8  ...                   1                     0
8        8625    1  ...                   1                     0
9        8625    2  ...                   1                     0

[10 rows x 25 columns]

In [14]:
# PARA LER UMA QUANTIDADE DE LINHAS (A PARTIR NO FINAL)

clientes_df.tail(10)

       id_cliente  mes  ...  emprestimo_credito emprestimo_estudantil
99990       34304    7  ...                   0                     1
99991       34304    8  ...                   0                     1
99992       37932    1  ...                   0                     1
99993       37932    2  ...                   0                     1
99994       37932    3  ...                   0                     1
99995       37932    4  ...                   0                     1
99996       37932    5  ...                   0                     1
99997       37932    6  ...                   0                     1
99998       37932    7  ...                   0                     1
99999       37932    8  ...                   0                     1

[10 rows x 25 columns]

In [15]:
# PARA VERIFICAR QUAIS SÃO OS TIPOS DE DADOS DAS COLUNAS.

clientes_df.dtypes

id_cliente                    int64
mes                           int64
idade                       float64
profissao                    object
salario_anual               float64
num_contas                  float64
num_cartoes                 float64
juros_emprestimo            float64
num_emprestimos             float64
dias_atraso                 float64
num_pagamentos_atrasados    float64
num_verificacoes_credito    float64
mix_credito                  object
divida_total                float64
taxa_uso_credito            float64
idade_historico_credito     float64
investimento_mensal         float64
comportamento_pagamento      object
saldo_final_mes             float64
score_credito                object
emprestimo_carro              int64
emprestimo_casa               int64
emprestimo_pessoal            int64
emprestimo_credito            int64
emprestimo_estudantil         int64
dtype: object

In [19]:
# PARA ARMAZENAR DADOS EM OUTRO FORMATO AO INVÉS DE LÊ-LO:
clientes_df.to_excel("Clientes.xlsx", sheet_name = "sheet 1", index = False)

clientes_df1 = pd.read_excel('Clientes.xlsx')
display(clientes_df1)

       id_cliente  mes  ...  emprestimo_credito emprestimo_estudantil
0            3392    1  ...                   1                     0
1            3392    2  ...                   1                     0
2            3392    3  ...                   1                     0
3            3392    4  ...                   1                     0
4            3392    5  ...                   1                     0
...           ...  ...  ...                 ...                   ...
99995       37932    4  ...                   0                     1
99996       37932    5  ...                   0                     1
99997       37932    6  ...                   0                     1
99998       37932    7  ...                   0                     1
99999       37932    8  ...                   0                     1

[100000 rows x 25 columns]

In [20]:
# PARA VISUALIZAR UM RESUMO TÉCNICO CO DATAFRAME:

clientes_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id_cliente                100000 non-null  int64
 1   mes                       100000 non-null  int64
 2   idade                     100000 non-null  int64
 3   profissao                 100000 non-null  object
 4   salario_anual             100000 non-null  float64
 5   num_contas                100000 non-null  int64
 6   num_cartoes               100000 non-null  int64
 7   juros_emprestimo          100000 non-null  int64
 8   num_emprestimos           100000 non-null  int64
 9   dias_atraso               100000 non-null  int64
 10  num_pagamentos_atrasados  100000 non-null  int64
 11  num_verificacoes_credito  100000 non-null  int64
 12  mix_credito               100000 non-null  object
 13  divida_total              100000 non-null  float64
 14  taxa_uso_credito          100000 non-null  float64
 15  idade_historico_credito   100000 non-null  int64
 16  investimento_mensal       100000 non-null  float64
 17  comportamento_pagamento   100000 non-null  object
 18  saldo_final_mes           100000 non-null  float64
 19  score_credito             100000 non-null  object
 20  emprestimo_carro          100000 non-null  int64
 21  emprestimo_casa           100000 non-null  int64
 22  emprestimo_pessoal        100000 non-null  int64
 23  emprestimo_credito        100000 non-null  int64
 24  emprestimo_estudantil     100000 non-null  int64
dtypes: float64(5), int64(16), object(4)
memory usage: 19.1+ MB

In [28]:
# PARA CRIAR A PRÓPRIA DATAFRAME PODE-SE COMEÇAR CRIANDO UM DICIONÁRIO:

tabela = {'Aluno': ['Leonardo'] , 'Matrícula': [20240167463], 'Turma': ['ADS 2'],
          'Idade': [27], 'Profissão': ['Estágio em Programação'], 'Semestre': [2]
          }

tabela_df = pd.DataFrame(tabela)

display(tabela_df)

In [74]:
# PARA ADICIONAR NOVAS LINHAS DENTRO DA TABELA CRAIDA:

tabela_df.loc[len(tabela_df)] = ['Samanta', 12345, 'ADS 2', 27, 'INDETERMINADA', 2]

display(tabela_df)

      Aluno    Matrícula  Turma  Idade               Profissão  Semestre
0  Leonardo  20240167463  ADS 2     27  Estágio em Programação         2
1   Samanta        12345  ADS 2     27           INDETERMINADA         2
2   Samanta        12345  ADS 2     27           INDETERMINADA         2

In [ ]:
# PARA DELETAR DEFINITIVAMENTE UM DADO(LINHA):

#tabela_df.drop(2, inplace = True)

#display(tabela_df)

      Aluno    Matrícula  Turma  Idade               Profissão  Semestre
0  Leonardo  20240167463  ADS 2     27  Estágio em Programação         2
1   Samanta        12345  ADS 2     27           INDETERMINADA         2

In [84]:
# PARA DELETAR COLUNAS:

#tabela_df.drop('Profissão', axis = 1, inplace= True)
                #NOME         !COLUNA!     DEFINIDAMENTE
display(tabela_df)

      Aluno    Matrícula  Turma  Idade  Semestre
0  Leonardo  20240167463  ADS 2     27         2
1   Samanta        12345  ADS 2     27         2